.Inline {
    display: flex;
    justify-content: space-around;
}

.Chart {
    margin-top: 20px;
    height: 550px;
    width: 1200px;
}

.progress-bar-container {
    width: 600px;
    height: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin: 10px 0;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  
  .progress-text {
    padding: 0 5px;
  }

  .card {
    width: 60%;
  }
